[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
tablib = "*"
openpyxl = "*"
requests = "*"
pyyaml = "*"
pyyaml4-2b1 = "*"
pyyaml4-2 = "*"
pyyaml4 = "*"

[requires]
python_version = "3.6"
